/*-------------------Comienzo configuraciones generales -----------------------*/
:root {
  --verde-1: #2ec1ac;
  --verde-2: #3e978b;
  --mostaza: #d2e603;
  --beige: #eff48e;
  --logo: #374251;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  font-weight: 400;
  background: #FFFFFF;
  color: #000000
}

ul {
  list-style: none;
  margin-bottom: 0px
}

p {
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  line-height: 1.7;
  font-weight: 400;
  color: #828282;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px
}

p a {
  display: inline;
  position: relative;
  color: inherit;
  border-bottom: solid 1px #ffa07f;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease
}

a,
a:hover,
a:visited,
a:active,
a:link {
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px
}

p a:active {
  position: relative;
  color: #2ec1ac; 
}

p a:hover {
  color: #FFFFFF;
  background: #2ec1ac; 
}

p a:hover::after {
  opacity: 0.2
}

h1 {
    font-size: 48px
}

h2 {
    font-size: 36px
}

h3 {
    font-size: 24px
}

h4 {
    font-size: 18px
}

h5 {
    font-size: 14px
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px
}


/*-------------------Fin configuraciones generales -----------------------*/

/*-------------------Comienzo del Header -----------------------*/

header {
  background-color: var(--logo);
  width: 100%;
}

main h1 {
  text-align: center;
  font-size: 40px;
}

.header_main {
  z-index: 1
}

.header.scrolled .header_main {
  display: none
}
.header_main_item {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%)
}

.logo {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); 
}

.header-main {
  display: flex;
}

.logo-container {
  height: 100px; 
  margin-top: 10%;
  padding: 10%;
}

#logo-img {
  position: fixed;
}


.main-nav {
  width: 100%;
  border-top: solid 1px #f2f2f2;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  background: #FFFFFF; 
  margin-top: 56px
}

.main-nav-content {
  width: 100%;
  height: 60px
}


#contenedor-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: column;
  background-color: #d2e603;
  margin: 1%;
}

#contenedor-2 li {
  list-style: none;
  border: solid 2px black;
  padding: 0.5%;
  margin: 1%;
  background-color: var(--beige);
  min-width: 20%;
  text-align: center;
}

#contenedor-2 li:hover {
  background-color: #d2e603;
  cursor: pointer;
}

#contenedor-2 li a {
  text-decoration: none;
  color: black;
}

i {
  color: var(--mostaza);
}

.logUser {
  color: white;
  text-align: end;
  margin: 0.5%;
}


#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

#container-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: column;
}

#container-nav li {
  list-style: none;
  padding: 0.5%;
  margin: 1%;
  background-color: var(--beige);
  min-width: 20%;
  text-align: center;
}

#container-nav li:hover {
  background-color: #d2e603;
  cursor: pointer;
}

#container-nav li a {
  text-decoration: none;
  color: black;
}

i {
  color: var(--mostaza);
}



#cuenta {
  font-size: 20px;
}

#botonCuenta {
  padding: 10px;
  font-weight: 400;
  font-size: 16px;
  background-color: #2ec1ac;
  border: none;
}

#carrito i {
  font-size: 20px;
  margin: 5px 10px;
}

#container li {
  list-style: none;
  padding: 0.5%;
  margin: 1%;
  background-color: var(--beige);
  min-width: 20%;
  text-align: center;
}

#container li:hover {
  background-color: #d2e603;
  cursor: pointer;
}

#container li a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}

i {
  color: var(--verde-2);
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.main-nav {
  width: 100%;
  border-top: solid 1px #f2f2f2;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  background-color: #f8f9fa;
}
.main-nav-content {
  width: 100%;
  height: 60px
}

.nav-item {
  color: #374251 !important;
}

.my-account {
  margin: 0.5%;
}
  
.cart {
  margin: 1%;
}



/*-------------------Fin del Header-----------------------*/

/*-------------------Comienzo del Carousel-----------------------*/

.container-carousel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: 1;
}

.carouselExampleIndicators {
  z-index: 100;
}

/*-------------------Fin del Carousel-----------------------*/

/*-------------------Comienzo de la sección de info-----------------------*/

.row-info {
  justify-content: space-around;
  margin-bottom: 7%;
  padding: 5%
}
.btn-primary {
  border-color: #3e978b !important ;
  background-color: #3e978b !important;
}
.card-title {
  color: #374251 !important;
}

/*-------------------Fin de la sección de info-----------------------*/
/*-------------------Comienzo de productos destacados-----------------------*/

#destacados {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2% 0 30px 0;
}

#destacados article {
  max-width: 30%;
  padding: 5px 15px;
  margin: 2%;
}

.destacado {
  width: 70%;
  padding: 5px 15px;
  display: block;
  margin: 0 auto;
}

.container-destacados {
  margin-top: 7%;
}

article h5 {
  text-align: center;
  margin: 4%;
}
article a {
  color: #374251 ;
  text-decoration: none;
}

article p {
  text-align: center;
}

article a:hover {
  color: #828282;
  text-decoration: none;
  
}
.productos-destacados {
  border-color: #828282;
}

hr {
  width: 15%;
  margin: 0 auto;
}

/*-------------------Fin de productos destacados-----------------------*/

/*-------------------Comienzo sección central -----------------------*/

#slide {
  display: block;
  margin: 15px auto;
  width: 80%;
  height: 50vh;
}

h2 {
  text-align: center;
  font-size: 20px;
  margin: 5% 0 0 0  !important;
}



/*-------------------Fin sección central -----------------------*/

/*------------------------ Comienzo Top Header ----------------------*/

.top-bar {
  height: 40px; 
  background-color: #eeeeee;
} 

.top-bar-contact {
  font-size: 12px;
  margin-right: 20px;
  line-height: 40px
}

.top-bar-contact a {
  font-size: 12px;
  line-height: 40px
}

.top-bar-icon {
  display: inline-block;
  margin-right: 14px;
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px);
  transform: translateY(-2px); 
}

.top-bar-user {
  display: inline-block;
  margin-left: 35px; 
  font-size: 12px;
  line-height: 40px; 
}

.top-bar-user div {
  display: inline-block
}

.top-bar-user div:nth-child(2) {
  margin-right: 21px
}
.top-bar-user div:nth-child(2)::after {
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: -13px;
  width: 1px;
  height: 17px;
  background: rgba(0, 0, 0, 0.1);
  content: ''
}

.top-bar-user a:hover {
  color: #8a8a8a
}
/*------------------------ Fin Top Header ----------------------*/
/*---------------------- Comienzo de register ---------------------*/

.errors {
  display: none;
  font-size: 20px;
  text-decoration: whitesmoke;
  text-shadow: 1px 1px 2px black, 0 0 1em var(--mostaza), 0 0 0.2em var(--beige);
  color: red ;
}


#regTitle{
  margin-top: auto;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 4%;
}

#register {
  width: 50%;
  height: auto;
  margin: 7% auto;
  padding-bottom: 10%; 
}


#register h3 {
  margin: 10px auto;
  text-align: center;
  padding-top: 10px;
}

#reg-name,
#reg-lastname,
#reg-tel,
#reg-dni,
#reg-gender,
#reg-email,
#reg-avatar,
#reg-pass,
#reg-retype {
  margin: 10px auto;
}

input #regPhone {
  margin: 8px 0px;
  padding: 12px 20px;
}

.form-log #submit {
  border-radius: 6px;
  border: 2px solid black;
}


/*------------------------Fin de register----------------------*/

/*-------------------Comienzo del login -----------------------*/

#login {
  border: 3px solid var(--verde-2);
  width: 350px;
  height: 350px;
  margin: 20px auto;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--verde-1);
  border-radius: 10px;
}

.login {
  width: 50%; 
  height: auto;
  margin: 7% auto;
  padding-bottom: 10%;
}

#login h3 {
  margin: 10px auto;
  text-align: center;
  padding-top: 10px;
}

#campo-mail,
#campo-pass {
  margin: 20px auto;
}

#login #campo-mail input {
  width: 250px;
  height: 25px;
}

#login #campo-pass input {
  width: 250px;
  height: 25px;
}

#login #nuevoPass {
  font-size: 14px;
  text-align: left;
  padding-bottom: 15px;
}

#login #registro {
  font-size: 14px;
  padding-top: 10px;
  text-align: right;
}

.form-log #ingreso {
  margin-top: 2%;
  width: 150px;
  height: 30px;
  font-size: 16px;
  background-color: var(--beige);
  border-radius: 6px;
  border: 2px solid black;
  text-decoration: none;
  font-weight: 600;
  padding-bottom: 30px;
}

#recordar {
  font-size: 15px;
}
#recordar input {
  display: inline;
}
#recordar label {
  display: inline;
}

/*-------------------Fin del login -----------------------*/

/*-------------------Comienzo del user detail -----------------------*/
.detail {
  width: 40%; 
  height: auto;
  margin: 5% auto;
  padding-bottom: 10%;
}

/*-------------------Fin del user detail -----------------------*/

/*---------------------------Comienzo de Info------------------------*/

#info {
  display: flex;
  justify-content: space-around;
  margin: 100px auto;
}

#info i {
  color: var(--verde-2);
  font-size: 25px;
}

#info p {
  font-size: 15px;
}

/*---------------------------Fin de Info------------------------*/

/*-------------------Comienzo del footer -----------------------*/

footer {
  background-color: var(--logo) !important;
  display: flex;
  border-top: var(--logo) 3px double;
}

footer #info {
  /*float: left;*/
  margin-left: 100px;
}

#redes {
  padding-bottom: 5%;
  text-align: center;
}

#redes i {
  font-size: 25px;
  padding-left: 10px;
  padding-right: 10px;
}

#redes h4 {
  text-align: center;
}

#subredes {
  display: flex;
  padding: 10px;
}

.copyright {
  background-color: #29313D; 
}

/*-------------------Fin del footer -----------------------*/

/*-------------------Comienzo carrito 
#mi-carrito {
  padding: 20px;
  width: 100%;
  background-color: #eff48e;
  margin-top: 20%;
}

#mi-carrito i {
  font-size: 25px;
  float: left;
  margin-right: 20px;
}

.main-article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

article img {
  margin: 10px;
}

.description {
  margin: 15px;
}

.cantidad {
  margin: 15px;
}
.precio {
  margin: 15px;
}
.subtotal {
  margin: 15px;
}

#total {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  align-items: center;
}

#total button {
  padding: 15px;
  margin: 10px;
  background-color: #3e978b;
  border: none;
  cursor: pointer;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 200px;
}

button {
  padding: 15px;
  margin: 10px;
  background-color: #3e978b;
  border: none;
  cursor: pointer;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 200px;
}

button:hover {
  background-color: aqua;
}

table {
  margin: 10px;
}
th {
  padding: 5px;
}

#btn-agregar {
  width: 50px;
  height: 25px;
}

article {
  padding: 50px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.imagen-detail {
  text-align: center;
  margin: 5%;
}

.cantidad-btns {
  text-align: center;
  margin: 2%;
}
.imagen {
  margin: 20px;
  display: inline-block;
}

.informacion {
  margin: 20px;
  display: inline-block;
}

section h4 {
  text-align: center;
}

section p {
  text-align: center;
}

#seccion-principal {
  margin-top: 10%;
  display: inline-block;
  text-align: center;
}

Fin carrito viejo -----------------------*/


/*------------------- Comienzo carrito nuevo-----------------------*/

.carrito {
  margin: 2%;
}
.payment-info {
  background:#47AEA0;
  padding: 10px;
  border-radius: 6px;
  color: #fff;
  font-weight: bold
}

.product-details {
  padding: 10px; 
  margin: 5% auto;
  width: 50%;
}

body {
  background: #eee
}

.p-about {
  font-size: 12px
}

.table-shadow {
  -webkit-box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.42);
  box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.42)
}

.type {
  font-weight: 400;
  font-size: 10px
}

label.radio {
  cursor: pointer
}

label.radio input {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  pointer-events: none
}

label.radio span {
  padding: 1px 12px;
  border: 1px solid #3e978b;
  display: inline-block;
  color: #374251;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 300
}
label.radio i {
  color: #d2e603;
}

label.radio input:checked+span {
  border-color: #fff;
  background-color: #47AEA0;
  color: #fff
}

.credit-inputs {
  background: #eeeeee;
  color: #fff !important;
  border-color:#eeeeee ; 
}

.credit-inputs::placeholder {
  color: #fff;
  font-size: 13px
}

.credit-card-label {
  font-size: 9px;
  font-weight: 300
}

.form-control.credit-inputs:focus {
  background: #eeeeee;
  border: #2ec1ac; 
}

.line {
  border-bottom: 0.5px #828282
}

.information span {
  font-size: 12px;
  font-weight: 500
}

.information {
  margin-bottom: 5px
}

.items {
  -webkit-box-shadow: 5px 5px 4px -1px rgba(0, 0, 0, 0.25);
  box-shadow: 5px 5px 4px -1px rgba(0, 0, 0, 0.08)
}

.spec {
  font-size: 11px
}


/*-------------------Fin carrito viejo -----------------------*/

/*------------------------Comienzo de productLoad------------*/

.form-to-create {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

#productLoad {
  display: flex;
  flex-direction: column;
  border-radius: 0.5%;
}

#productLoad h2 {
  text-align: center;
  margin: 5%;
  padding-bottom: 2%;
  text-transform: uppercase;
  font-size: 25px;
}
#productLoad label {
  float: left;
  width: 250px;
  font-weight: 500;
}

#productLoad div {
  margin: 20px;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="number"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="tel"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="option"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="email"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="file"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="submit"]:hover {
  background-color: #d2e603;
}

input[type="search"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


/*------------------------Fin de productLoad-----------------*/

/*------------------- Comienzo de info-----------------------*/

#info {
  display: flex;
  justify-content: space-around;
  text-align: center;
  color: #fff;
  margin: 10%;
}

#info i {
  color: var(--verde-2);
  font-size: 25px;
  padding-bottom: 10px;
}

#info p {
  font-size: 15px;
}

#btn-agregar {
  width: 50px;
  height: 25px;
}

button {
  padding: 15px;
  margin: 10px;
  background-color: #3e978b;
  border: none;
  cursor: pointer;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.btn {
  margin-top: 1%;
}

.btn-outline-success {
  color: #3e978b!important; 
  border-color: #3e978b !important; 
}
.btn-outline-success:hover {
  background-color: #3e978b !important ;
  color: white !important;
}

/*------------------- Fin de info-----------------------*/


/*------------------- Comienzo de las media query-----------------------*/



@media (min-width: 768px) {
  #container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }

  #container-nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }

  #seccion-principal {
    margin-top: 3%;
  }

  #container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }
  #container-nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }
  #mi-carrito {
    margin-top: 1%;
  }

  #contenedor-2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }

  h2 {
    text-align: center;
    font-size: 30px;
  }

  #slide {
    display: block;
    margin: 15px auto;
    width: 80%;
    height: 70vh;
  }

  #destacados {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .destacado {
    width: auto;
    height: 30vh;
    display: block;
    margin: 0 auto;
  }

  #info p {
    font-size: 20px;
    font-weight: bold;
  }
}

@media (min-width: 1150px) {
  
}
