<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head')%>


<body>
    <!---- comienzo del header -->  

    <%- include('../partials/header') %>   

    <Main>
      
        <form id="datos" action="#" method="POST" enctype="multipart/form-data">
         
         <h1>Agregar un producto</h1>
            
         <div class="productLoad">
            <h2>Nombre y Descripción</h2>
            <label for="productName">Nombre del producto</label> 
            <br>
            <input type="text" name="productName" placeholder="Ej: Aceite de Oliva"> 
            <br>
            <label for="productDescription">Descripción</label>
            <br>
            <textarea name="productDescription" id="#"cols="40" rows="10" placeholder= "Acá va la descripción del producto"></textarea>
        
         </div>
        
         <div class="productLoad">   
            <div>
               <label for="Price">Precio</label> 
               <br>
               <input type="number" name="Price"> 
            </div>

            <div>
               <label for="stock">Stock</label>
               <br>
               <input type="number" name="stock">
            </div>

            <div class="productLoad">
               <label for="category">Categoría</label>
               <br>
               <select name="category" id="#">
                  <option value="almacen">Almacén</option>
                  <option value="verduleria">Frutas y Verduras</option>
                  <option value="panaderia">Panaderia</option>
                  <option value="carniceria">Carniceria</option>
               </select>
            </div>
         </div>
         <div>
            <div class="productLoad">
               
               <label for="productImage"><h2>Fotos del producto</h2></label>
               <input type="file" name="imageProduct">

            </div>
        
         </div>

         
         <div>
            <button type="button">Publicar producto</button>
         </div>


        </form>
      
    </Main>


    <%- include('../partials/footer')%>


</body>
</html>