<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head')%>


<body>
    <!---- comienzo del header -->  

    <%- include('../partials/header') %>   

    <Main>
      <div class="form-to-create">
        <form id="productLoad" method="POST" action="/product/load"  enctype="multipart/form-data">
         <div>
               <h2>Agregar un producto</h2>
               <div>
                  <label for="productName">Nombre</label>  
                  <input type="text" name="productName" id="productName" placeholder="Ej: Aceite de Oliva"> 
               </div>

               <div>
                  <label for="brand">Marca</label>
                  <input type="text" name="brand" id="brand" placeholder="Ej: Arauco">
               </div>

               <div>
                  <label for="volumen">Unidad de volúmen</label>
                  <input type="number" name="unidad" id="unidad" placeholder="500gr">
                  <select name="volumen" id="volumen">
                     <option value="kilo">kilo(s)</option>
                     <option value="gramos">gramos</option>
                     <option value="litro">litro(s)</option>
                     <option value="mililitro">mililitros</option>
                  </select>
               </div>

               <div>
                  <label for="price">Precio Unitario</label>   
                  <input type="number" name="price" id="price" placeholder="$"> 
               </div>

               <div>
                  <label for="discount">Precio en Promoción</label>   
                  <input type="number" name="discount" id="discount" placeholder="$"> 
               </div>

               <div>
                  <label for="category">Categoría</label>
                  <select name="category" id="category">
                     <option value="almacen">Almacén</option>
                     <option value="verduleria">Frutas y Verduras</option>
                     <option value="panaderia">Panaderia</option>
                     <option value="carniceria">Carniceria</option>
                  </select>
               </div>

               <div>
                  <label for="stock">Stock</label>
                  <input type="number" name="stock" id="stock">
               </div>


               <div>
                  <label for="productDescription">Descripción</label>
                  <textarea name="productDescription" id="productDescription"cols="40" rows="10" placeholder= "Incorporá aquí una descripción del producto"></textarea>
               </div>

               
              <div>
                  <label for="productImage">Agregar imagen</label>
                  <input type="file" name="imageProduct">
               </div> 
            
               <div>
                  <input type="submit" value="Agregar producto">
               </div>
         </div>

        </form>
      </div>
    </Main>


    <%- include('../partials/footer')%>


</body>
</html>