<footer>
    <div class="container">
            <div id='info2'>
                <ul>
                    <li>Dónde estamos</li>
                    <li>Teléfono de Contacto</li>
                    <li>Horarios de Atención</li>
                    <li>Atención al Cliente</li>
                </ul>
            </div>

            <div id='redes'>
                <h4>Seguinos en</h4>
                <div id='subredes'>
                    <i class="fab fa-facebook-square"></i>
                    <i class="fab fa-twitter-square"></i>
                    <i class="fab fa-instagram"></i>
                </div>
            </div>
    </div>
</footer>