<!-- Footer -->
<footer class="text-center text-white">
    <div class="container p-4">
      <!-- Social media -->
      <section class="mb-4">
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/" role="button" target="_blank"
          ><i class="fab fa-facebook-f"></i
        ></a>
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/" role="button" target="_blank"
          ><i class="fab fa-twitter"></i
        ></a>
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/" role="button" target="_blank"
          ><i class="fab fa-instagram"></i
        ></a>
  
      </section>
      <section>
        <form action="">
          <div class="row d-flex justify-content-center">
            <div class="col-auto">
              <p class="pt-2">
                <strong>¿Querés recicibir nuestras ofertas?</strong>
              </p>
            </div>
            <div class="col-md-5 col-12">
              <!-- Email -->
              <div class="form-outline form-white mb-4">
                <input type="email" class="form-control" />
                
              </div>
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-outline-light mb-4">
                Suscribite acá
              </button>
            </div>
          </div>
        </form>
      </section>
        </div>
      </section>
    </div>
    <!-- Copyright -->
    <div class="text-center p-3 copyright">
      © 2021 -
      <a class="text-white" href="https://Freshmarket.com">Freshmarket</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->