<!-- Header -->
<header>
    <!-- Comienzo Top Bar -->
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col d-flex flex-row">
                        <div class="top-bar-contact">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <div class="top-bar-icon"></div>+54 11 482 3132
                        </div>
                        <div class="top-bar-contact">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <div class="top-bar-icon"></div><a href="mailto:contacto@freshmarket.com">contacto@freshmarket.com</a>
                        </div>
                        
                        <div class="top_bar_content ml-auto">
                            <div class="top-bar-user">
                                <i class="fas fa-user" aria-hidden="true"></i>
                                <div class="top-bar-icon"></div>
                                <% if (!user) {%> 
                                    <a href="/users/register">Registrarse</a>
                                <% } else { %>
                                    <a href="/users/detail/<%=user.id%>">Mi cuenta</a>
                                    <!--
                                    <p class="top-bar-icon">Hola <%= user.name  %> </p>-->
                                <% } %> 
                            </div>

                            <div class="top-bar-user">
                                <i class="fas fa-sign-in-alt"></i>
                                <div class="top-bar-icon"></div>
                                <% if (user) {%> 
                                    <a href="/users/logout">Salir</a>
                                <% } else { %>
                                    <a href="/users/login">Ingresar</a>
                                <% } %> 
                            </div> 
                                
                                <div>
                                    <% if (!user) { %> 
                                        <p class="logUser">No hay usuario logueado</p>
                                        <% } else { %> 
                                        <p class="logUser">Hola <%= user.email  %> </p>
                                    <% } %>
                                </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fin Top Bar -->
        <!-- Header Main -->
        <div class="header-main">
            <div class="container">
                <div class="row">
                    <!-- Logo -->
                        <div class="col-lg-2 col-sm-3 col-3 order-1">
                            <div class="logo-container">
                                <div class="logo">
                                    <a href="/"><img id="logo-img" src="/images/logo-svg.svg" alt="logo" width="150%"></a>
                                </div>
                            </div>
                        </div> 
                </div>
            </div>
        </div>
    <!-- Nav -->
    <div class="main-nav">
        <div class="container">
            <div class="row">
                <div class="col">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                          <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                              <a class="nav-link" href="/product/list">Todos <span class="sr-only"></span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/product/list/1">Almacén <span class="sr-only"></span></a>
                              </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/product/list/2">Verdulería <span class="sr-only"></span></a>
                              </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/product/list/3">Panadería <span class="sr-only"></span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/product/list/4">Carnicería <span class="sr-only"></span></a>
                            </li>
                          </ul>
                            <form class="form-inline my-2 my-lg-0">
                                <input class="form-control mr-sm-2" type="search" placeholder="Buscar aquí" aria-label="Search">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                            </form>
                          <!-- Mi cuenta 
                            <div class="container ">
                                <div class="my-account">
                                    <i class="fas fa-user" aria-hidden="true"></i>
                                    <div class="top-bar-icon"></div><a href="/users/detail/<%=user.id%>">Mi cuenta</a>
                                </div> -->
                                <!-- Carrito -->
                                <div class="cart">
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                    <div class="top-bar-icon"></div><a href="/product/cart">Carrito</a>
                                </div>
                            </div>
                        </div>
                      </nav>
                </div>
            </div>
        </div>  
    </div>
</header>