<header>
<div class="container">
    <div id="contenedor-1">
        
        
        <img src="/images/logo.png" alt="" id='logo'>
        
        <div id='buscador'>
            <form action="">
                <i class="fas fa-search" height='50px'></i>
                <input type="search" placeholder="¿Qué estás buscando?">
            </form>
        </div>

        
        <div id=cuenta>
            <i class="fas fa-user"></i>
            <a href='/users/login' id='botonCuenta'>Mi Cuenta</a>

        </div>
        
        <div id="carrito">
            <a href="/product/cart"><i class="fas fa-shopping-cart"></i></a>
        </div>

    </div>

    <nav>
        <ul id='contenedor-2'>
            <li><a href="/product/list/almacen">ALMACÉN</a></li>
            <li><a href="/product/list/verduleria">VERDULERÍA</a></li>
            <li><a href="/product/list/panaderia">PANADERÍA</a></li>
            <li><a href="/product/list/carniceria">CARNICERÍA</a></li>
        </ul>
    </nav>
</div>
</header>