<!DOCTYPE html>
<html lang="en">
<%- include('partials/head')%>
<body>

    <%- include('partials/header') %>

    <main>
        
        <h1>FRESH MARKET</h1>

        <section>
            <img src="/images/frutas-verduras.jpg" alt="frutas y verduras" id='slide'>
        </section>

        <section>
            <h2>Productos Destacados</h2>

                <div id='destacados'>
                    <article>
                        <img src="/images/frutas-verduras2.jpg" alt="" class="destacado">
                        <h3>Producto 1</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                    </article>

                    <article>
                        <img src="/images/carne.webp" alt="" class="destacado">
                        <h3>Producto 2</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </article>

                    <article>
                        <img src="/images/carne2.jpg" alt="" class="destacado">
                        <h3>Producto 3</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </article>

                </div>

        </section>

        <section>

            <div id='info'>
                <div>
                    <i class="far fa-question-circle"></i>
                    <p>Cómo comprar</p>
                </div>

                <div>
                    <i class="fas fa-truck"></i>
                    <p>Entrega</p>
                </div>

                <div>
                    <i class="fas fa-dollar-sign"></i>
                    <p>Forma de Pago</p>
                </div>
            </div>


        </section>

    </main>

    <%- include('partials/footer') %>

</body>
</html>