<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freshmarket</title>
    <link rel="stylesheet" href="/css/styleHome.css">
    

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>
<body>

    <header>

        <div id="contenedor-1">
            
            
            <img src="/images/logo.png" alt="" id='logo'>
            
            <div id='buscador'>
                <form action="">
                    <i class="fas fa-search" height='50px'></i>
                    <input type="search" placeholder="Qué buscas?">
                </form>
            </div>

            
            <div id=cuenta>
                <i class="fas fa-user"></i>
                <a href='/login' id='botonCuenta'>Mi Cuenta</a>

            </div>
            
            <div id="carrito">
                <i class="fas fa-shopping-cart"></i>
            </div>

        </div>

        <nav>
            <ul id='contenedor-2'>
                <li><a href="#">ALMACEN</a></li>
                <li><a href="#">FRUTAS Y VERDURAS</a></li>
                <li><a href="#">PANADERIA</a></li>
                <li><a href="#">CARNICERIA</a></li>
            </ul>
        </nav>
       
    </header>

    <main>
        
        <h1>FRESH MARKET</h1>

        <section>
            <img src="/images/frutas-verduras.jpg" alt="frutas y verduras" id='slide'>
        </section>

        <section>
            <h2>Productos Destacados</h2>

                <div id='destacados'>
                    <article>
                        <img src="/images/frutas-verduras2.jpg" alt="" class="destacado">
                        <h3>Producto 1</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                    </article>

                    <article>
                        <img src="/images/carne.webp" alt="" class="destacado">
                        <h3>Producto 2</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </article>

                    <article>
                        <img src="/images/carne2.jpg" alt="" class="destacado">
                        <h3>Producto 3</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </article>

                </div>

        </section>

        <section>

            <div id='info'>
                <div>
                    <i class="far fa-question-circle"></i>
                    <p>Cómo comprar</p>
                </div>

                <div>
                    <i class="fas fa-truck"></i>
                    <p>Entrega</p>
                </div>

                <div>
                    <i class="fas fa-dollar-sign"></i>
                    <p>Forma de Pago</p>
                </div>
            </div>


        </section>

    </main>

    <footer>
        <div id='info2'>
            <ul>
                <li>Dónde estamos</li>
                <li>Teléfono de Contacto</li>
                <li>Horarios de Atención</li>
                <li>Atención al Cliente</li>
            </ul>
        </div>

        <div id='redes'>
            <h4>Seguinos en</h4>
            <div id='subredes'>
                <i class="fab fa-facebook-square"></i>
                <i class="fab fa-twitter-square"></i>
                <i class="fab fa-instagram"></i>
            </div>
        </div>
    </footer>

</body>
</html>