<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FreshMarket Login</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/styleLogin.css">

</head>
<body>
    <header>

        <div id="contenedor-1">
            
            
            <img src="/images/logo.png" alt="" id='logo'>
            
            <div id='buscador'>
                <form action="">
                    <i class="fas fa-search" height='50px'></i>
                    <input type="search" placeholder="Qué buscas?">
                </form>
            </div>

            
            <div id=cuenta>
                <i class="fas fa-user"></i>
                <button id='botonCuenta'>Mi Cuenta</button>

            </div>
            
            <div id="carrito">
                <i class="fas fa-shopping-cart"></i>
            </div>

        </div>

        <nav>
            <ul id='contenedor-2'>
                <li><a href="#">ALMACEN</a></li>
                <li><a href="#">FRUTAS Y VERDURAS</a></li>
                <li><a href="#">PANADERIA</a></li>
                <li><a href="#">CARNICERIA</a></li>
            </ul>
        </nav>
       
    </header>

    <main>
        <h1>Formulario de Login</h1>

        <div id='login'>
            
            <div id='titulo'>
                <h3>Iniciar sesión</h3>
            </div>
            
            <form action="" class='form-log'>
                <div id='campo-mail'>
                    <label for="mail"> Ingresá tu email</label><br>
                    <input type="email" name='mail' id="mail">
                </div>

                <div id='campo-pass'>
                    <label for="pass"> Ingresá tu contraseña</label><br>
                    <input type="password" name='pass' id="pass">
                </div>  

                <div id='nuevoPass'><a href="#">Olvidé mi contraseña</a></div>

                <div id='recordar'>
                    <input type="checkbox" id='rec' name='rec' value='si'>
                    <label for="rec">Recordarme</label>
                </div>

                <div id='registro'><a href="/register">Registrate si no tenés cuenta</a></div>
            </form>
            <div></div>
        </div>
    </main>

    <footer>
            <div id='info2'>
                <ul>
                    <li>Dónde estamos</li>
                    <li>Teléfono de Contacto</li>
                    <li>Horarios de Atención</li>
                    <li>Atención al Cliente</li>
                </ul>
            </div>
    
            <div id='redes'>
                <h4>Seguinos en</h4>
                <div id='subredes'>
                    <i class="fab fa-facebook-square"></i>
                    <i class="fab fa-twitter-square"></i>
                    <i class="fab fa-instagram"></i>
                </div>
            </div>

    </footer>


</body>
</html>