<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head')%>

<body>
    <!---- Comienzo del header -->  

    <%- include('../partials/header') %>
    <main class="form-signin">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="login">
                        
                            <% if (typeof errors != 'undefined') { %>
                                <ul>
                                    <% for (error of errors) { %>
                                    <li> <%= error.msg  %> </li> 
                                    <% } %>  
                                </ul>
                            <% } %>
                            <form action="/users/login" method="POST" class='form-log' id='formLogin'>
                            <h2 class="h3 mb-3 fw-normal">Formulario para ingresar</h2>
                            <label for="inputEmail" class="visually-hidden"></label>
                            <input type="email" name='mail' id="email" class="form-control" placeholder="Correo electrónico" required autofocus>
                            <p class="errors" id="errorLoginEmail">El contenido no es una direccion de correo válida.</p>
                            <label for="inputPassword" class="visually-hidden"></label>
                            <input type="password" name='pass' id="pass" class="form-control" placeholder="Contraseña" required>
                            <p class="errors" id="errorLoginPassword">La contraseña debe tener al menos ocho caracteres.</p> 
                            <button class="w-100 btn btn-lg btn-primary" type="submit" value="Ingresar" id="ingreso">Ingresar</button>
                            <div class="checkbox mb-3">
                                <label>
                                    <input type="checkbox" id='rec' name='rec' value='si'>
                                    <label for="rec">Recordarme</label>
                                </label>
                            </div>
                            <div id='nuevoPass'><a href="#">Olvidé mi contraseña</a></div>
                            <div id='registro'><a href="/users/register">Si no tenés cuenta registrate acá</a></div>
                            </form>
                        

                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('../partials/footer')%>
</body>
</html>