<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head')%>

<body>
    <!---- comienzo del header -->  

    <%- include('../partials/header') %>

    <main>
        <h1>Formulario de Login</h1>

        <div id='login'>
            
            <div id='titulo'>
                <h3>Iniciar sesión</h3>
            </div>
            
            <% if (typeof errors != 'undefined') { %>
                <ul>
                    <% for (error of errors) { %>
                    <li> <%= error.msg  %> </li> 
                    <% } %>  
                </ul>
            <% } %>

            <form action="/users/login" method="POST" class='form-log' id='formLogin'>
                <div id='campo-mail'>
                    <label for="mail"> Ingresá tu email</label><br>
                    <input type="email" name='mail' id="mail">
                    <p class="errors" id="errorLoginEmail">El contenido no es una direccion de correo válida.</p>
                </div>

                <div id='campo-pass'>
                    <label for="pass"> Ingresá tu contraseña</label><br>
                    <input type="password" name='pass' id="pass">
                    <p class="errors" id="errorLoginPassword">La contraseña debe tener al menos ocho caracteres.</p> 
                </div>  

                <div>
                    <button type="submit" value="Ingresar" id="ingreso">Ingresar </button>
                </div>

                <div id='nuevoPass'><a href="#">Olvidé mi contraseña</a></div>

                <div id='recordar'>
                    <input type="checkbox" id='rec' name='rec' value='si'>
                    <label for="rec">Recordarme</label>
                </div>

                <div id='registro'><a href="/users/register">Registrate si no tenés cuenta</a></div>
            </form>
            
            <div></div>
        </div>
    </main>

    <%- include('../partials/footer')%>


</body>
</html>