<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/head')%>

<body>
    <!---- Comienzo del header -->  

    <%- include('../partials/header') %>
    <main class="form-signin">
        <div class="container">
            <div class="registered">              
                    <h6>¡Te has registrado exitosamente!</h6>
                    <p>Para iniciar sesión hacé click <a href="/users/login">aquí</a></p>
            </div>
        </div>
    </main>
    <%- include('../partials/footer')%>
</body>
</html>